@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #f6f7fb;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
}

::-webkit-scrollbar {
  width: 0;
  height: 0.2rem;
}

::-webkit-scrollbar-track {
  background: #f1e6db;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.bg {
  background: linear-gradient(
    123deg,
    #461b93 0%,
    #461b93 40%,
    #6a3cbc calc(40% + 1px),
    #6a3cbc 60%,
    #8253d7 calc(60% + 1px),
    #8253d7 70%,
    #f78f1e calc(70% + 1px),
    #f78f1e 100%
  );
}
